@media (max-width: 1200px) {
    .header-title {
        width: 82%;
    }

    /*         product detai          */
    .classification-pots > span {
        font-size: 15px;
    }
    .btn-hotline {
        margin-top: 15px;
        margin-left: unset;
    }
    .products-products-title > div + div {
        margin-top: 15px;
    }
    .title-pdoduct-detai {
        font-size: 20px;
        line-height: 24px;
        max-height: 48px;
    }
    .product-code {
        font-size: 16px;
    }
    .classification-pots p,
    .amount-text,
    .social-network-title {
        font-style: 18px;
    }
    .products-price {
        font-size: 20px;
    }
   
   .introduce-left-btn {
       display: none;
   }
   .introduce-right {
       margin-top: 35px;
   }
   .introduce-call{
       margin-left: 20%;
   }
   .introduce-left {
    margin-bottom: 35px;
   }
   .img-product-detai > img {
       height: 400px;
   }
  
}

@media (max-width: 992px) {
    .contact-input input,
    .contact-input > textarea {
        font-size: 20px;
    }
    .header-title ul:last-child li:last-child span{
     left: 30px;
     right: unset;
    }
    .comments-title span {
        font-size: 17px;
    }
    .map-text {
        padding: 38px 38px 0 0;
    }
    .assessor {
        display: block;
    }
    .comment-content {
        width: 100%;
        margin-top: 16px;
    }

    /* modal */
    .item-save-moneys {
        font-size: 16px;
    }
    .item-into-money2 {
        margin: 0 15px;
    }
    .item-into-money2, 
    .item-into-money {
        font-size: 18px;
    }

    /* detai */

    .product-tabs a {
        font-size: 16px;
    }

    /* payment */
    .delivery-address {
        padding: 14px 5px 14px 15px;
    }
    .payment-products-left p {
        width: 180px;
        height: 48px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .payment-producst-code {

        display: block;
        border: none;
    }
    .payment-delivery {
        display: flex;
        justify-content: end;
        border: none;
        padding: 10px 0;
    }
    .payment-delivery p {
        margin-right: 30px;
    }
    .enter-discount-code {
        justify-content: end;
        padding: 8px 0;
    }
    .enter-discount-code input {
        margin-right: 10px;
    }
    .pay-order p{
        width: 300px;
    }
    .header-logo img{
       margin: 10px 0;
     }
     .frames-slogan h1 {
        color: #ffffff;
        font-size: 24px;
        line-height: 44px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Muli', sans-serif;
     }
     .Contacts-title + p {
         font-size: 22px;
     }
     
     .item-product-left img {
         height: 130px;
     }
     .img-product-detai > img {
        height: 400px;
     }
}
@media (max-width: 768px) {
    .img-product-detai > img {
        height: 500px;
    }
    .slider-search-icon {
        width: 30%;
    }
    .slider-product,
   .slider-contact {
       height: 358px;
   }
  
    .Contacts {
        margin: 20px 0;
    }
    .map-text::after{
        display: none;
    }
    .footer-logo-img {
        text-align: initial;
        margin-bottom: 35px;
    }
    .footer-text {
        margin-bottom: 35px;
    }

    /* button tabs */
    .btn-product-top {
        width: 40px;
        height: 40px;
    }

    /* commoment */

    .comments-title span{
        font-size: 13px;
        width: 265px;  
        text-align: center;
        padding: 7px 9px;
    }


    /* modal */

    .item-product-right {
        display: block;
    }
    .item-moneys {
        text-align: end;
        margin-bottom: 12px;
    }
    .item-save-moneys {
        text-align: unset;
    }
    .item-product-left {
        width: 50%;
    }
    .item-product-text {
        margin-left: 20px;
    }
    .save-moneys,
    .into-money, 
    .into-moneys p:first-child {
        font-size: 20px;
    }
    .save p {
        font-size: 18px;
    }
     
    /* đetai */

    .product-tabs a:last-child {
        width: 157px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
    }
    .product-tabs i {
        padding: 0 5px;
    }
    .products-top-title p,
    .detai-content-title,
    .pots-products-title p ,
    .all-products-title p{
        font-size: 18px;
    }
    .payment-footer-text {
        width: 100%;
    }
    .payment-products-right {
        justify-content: end;
    }
    .payment-products-quantity, 
    .payment-products-price {
        justify-content: end;
    }
    .payment-products-price {
        font-weight: 500;
    }
    .header-payments {
        height: 70px;
    }
    .slider-content {
        width: 38%;
    }
    .introduce-call {
        margin-left: 0;
    }
    .frames-slogan-btn {
        display: block;
    }
    .frames-slogan-btn button:nth-child(1) {
        margin-bottom: 20px;
    }
    .footer-logo-img {
        display: flex;
        justify-content: center;

    }
    .trademark-title h3  {
        font-size: 20px;
    }
    .slider-product p, 
    .slider-contact p {
        padding: 0;
        background-image: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        font-size: 24px;
    }
    .space-review .space-review-title {
        font-size: 24px;
    }
}
@media (max-width: 576px) {
    .space-review-title,
    .service-home-title {
    font-size: 24px;
}
    .contact-input div:first-child {
        display: block;
    }
    .contact-input input {
        width: 100%;
    }
    .contact-input input:first-child {
        margin-bottom: 20px;
    }
    .slider-content {
        height: 36px;
        width: 40%;
    }
    .slider-input-search {
        font-size: 13px;
    }
    
    /* comment */
    .assessor {
        display: flex;
        margin-bottom: 25px;
    }
    
    .comment-content {
        width: calc(100% - 100px);
        margin-top: 0;
    }
    #comments {
        margin-bottom: calc(57px - 25px);
    }
    .item-product-cart {
        display: block;
    }
    .item-product-left,
    .item-product-right {
        width: 100%;
    }

    /* modal */
    .into-money, .into-moneys p:first-child {
        font-size: 16px;
    }

    /* đetai */
    .product-tabs a {
        font-size: 14px;
    }
    .products-detai-content > p  {
        font-size: 15px;
    }

    /* payment */


    .user-name ,
    .payment-address{
        height: 48px;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .change-address {
        display: none;
    }
    .delivery-address {
        padding-right: 15px;
    }
    .delivery-address > div {
        display: block;
        margin-top: 5px;
    }
    .user-name {
        height: auto;
        padding: 5px 0;
    }
    .payment-address {
        width: auto;
        margin: 0;
    }
    .icon-right {
        display: flex;
    }
    .pay-order {
        display: block;
    }
    .pay-order p {
        width: auto;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .btn-pay-order {
        padding: 10px;
    }
    .payment-footer-text {
        font-size: 16px;
    }
    .pay-font {
     font-size: 18px;
    }
    .all-price-products, .total-price-payment {
        font-size: 18px;
    }
    .method-bank p {
        font-size: 14px;
    }
    .method-bank p:first-child {
        font-size: 16px;
    }
    .payment-delivery-price,
    .method-products-title {
        font-size: 18px;
    }
    .method-products-title,
    .pay-order,
    .payment-footer {
        padding: 15px 20px;
    }
    .payments-method {
        padding-left: 20px;
    }
    .payment-products-container {
        padding: 15px 20px 0;
    }
    .the-total-amount > p,
    .the-total-amount span {
        display: flex;
        justify-content: end;
    }
    .the-total-amount {
        display: block;
    }
    .the-total-amount > p{
        margin: 0 0 10px;
    }
    .enter-discount-code button {
        font-size: 14px;
    }
    .enter-discount-code input {
        margin-right: 5px;
        width: 172px;
    }
    .payment-delivery p {
        font-size: 14px;
        margin-right: 15px;
    }
    .payment-delivery div {
        padding: 5px 10px;
    }
    .payment-products-quantity {
        font-size: 16px;
    }
    .payment-products-left > img {
        width: 80px;
        margin-right: 12px;
    }
    .toasts {
        min-width: 300px;
        max-width: 300px;
        padding: 5px 0;
    }
    #toast {
        right: 20px;
    }
    .toast__icon, .toast__close {
        padding: 0 14px;
    }
    .toast__close {
        padding: 20px 14px;
    }
    .item-product-left img {
        width: 100px;
    }
    .item-product-text p {
        font-size: 18px;
    }
    
    .modal-cantainer {
        padding: 10px 18px 0;
    }
    .js-search > p {
        font-size: 18px;
    }
    .img-style > img {
        min-width: 100%;
    }
    .img-style > img:first-child{

        animation: showimg 20s infinite;
    }
    .title-pdoduct-detai {
        font-size: 18px;
    }
    #silder img {
        height: 180px;
    }
    .icon-holder {
        width: 100px;
        height: 100px;
    }
    .swiper-button-next:after ,
    .swiper-button-prev:after{
        font-size: 30px !important;
    }
    .mySwiper2 .swiper-button-next:after, 
    .mySwiper2 .swiper-button-prev:after {
        font-size: 30px !important;
    }   
    .swiper-sider-text {
        font-size: 24px;
    }
    .swiper-sider-text + p {
        font-size: 35px;
    }
    .swiper-slide > img {
        height: 500px;
    }
    .card-img > img {
        height: 500px;
        object-fit: unset;
    }
    .product-search div:first-child {
        width: 80%;
    }
    .img-product-detai > img {
        height: 450px;
    }
    
}

@media (max-width: 400px) {
    .introduce-right-text h1 {
        font-size: 16px;
    }
    .introduce-right-text h1 span {
        font-size: 12px;
    }
    .frames-slogan h1 {
        color: #ffffff;
        font-size: 22px;
    }
    .frames-slogan-btn button {
        font-size: 14px;
    }
    .swiper-sider-text {
        font-size: 22px;
    }
    footer {
        padding: 30px 0 30px 0;
    }
    .img-product-detai > img,
    .card-img > img,
    .swiper-slide > img {
        height: 400px;
    }
}