html {
    box-sizing: border-box;
    
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

:root {
    --white-color: white;
    --black-color:#000;
    --text-color:#333;
    --bg: #52A34B;
    --text-title: #08B24C;
    --bg-btn: #087420;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}

header {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-top: 50px;
}
/* header.active {
    animation:fadeInHeader 2s ease forwards;
} */

@keyframes fadeInHeader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.header {
    /* background: var(--bg); */
    padding: 0;
}
.header-container {
    padding: 0 10px;
}

.header .nav-item,
.header .nav-item a{
    color: var(--white-color);
}
.header-title {
    flex-grow: unset;
    width: 75%;
    justify-content: flex-end;
    justify-content: space-between;
}
.header-title ul {
    min-height: 54px;
}
.header-logo {
    width: 160px;
    cursor: pointer;
}
.header-logo img{
    width: 100%;
    /* height: 38px; */
}
.header .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
}
.header-img-user {
    height: 26px;
    width: 26px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img-user i {
    font-size: 20px;
}
.header-cart {
    position: relative;
}
.header-cart i {
    font-size: 24px;
}
.header-cart span {
    position: absolute;
    right: -8px;
    top: 4px;
    background: var(--white-color);
    color: var(--bg);
    min-width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

                                          /* silder */

.swiper ,
.swiper2{
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide > img {
    object-fit: cover;
    width: 100%;
    display: block;
    height: 606px;
}

.swiper-sider-title {
    position: absolute;
}
.swiper-sider-text{
    color: white;
    font-size: 30px;
    font-family: emoji;
    font-weight: 400;
     opacity: 0;
     font-family: 'Roboto', sans-serif;
}
.swiper-sider-text + p {
    color: white;
    font-size: 43px;
    font-family: cursive;
    text-shadow: 2px 3px 4px #f8f9fa;
    opacity: 0;
}
.swiper-slide-active .swiper-sider-text{

    animation:fadeInleft 2s ease forwards;
}
.swiper-slide-active .swiper-sider-text + p {
    animation:fadeInRight 2s ease forwards ;
}
@keyframes fadeInleft {
  
    0% {
        opacity: 0;
        transform: translatey(-30px);
    }
    100%  {
        opacity: 1;
        transform: translatey(0);
    }
}
@keyframes fadeInRight  {
   
    50% {
        opacity: 0;
        transform: translatey(30px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: white;
}

#silder {
    position: relative;
}
#silder > div:first-child {
    overflow: hidden;
}
#silder img {
    width: 100%;
    height: auto;
    transition: all 1s linear;
    cursor: pointer;
}
#silder img:hover {
    transform: scale(1.2);
}
.slider-content {
    display: flex;
    width: 33%;
    height: 40px;
    position: absolute;
    bottom: 26%;
    left: 50%;
    transform: translateX(-40%);
}
.product-filter {
    margin-bottom: 20px;
}
.product-search div:first-child {
    position: relative;
    width: 50%;
}
.product-search {
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    flex-direction: row-reverse;
}
.js-products .slider-input-search {
    border: 1px solid #DADADA;
}
.slider-input-search {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.1em;
    color: var(--bg);
    outline: none;
    border: none;
    padding-right: 35px;

}
.search-icon {
    position: absolute;
    right: 15px;
    top: 28%;
    color: #08B24C;

}
.js-products .slider-input-search:focus {

}

.slider-search-icon {
    width: 17%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    color: var(--white-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.slider-content-ul {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: white;
    z-index: 1111;
    box-shadow: 0px 0px 5px #a39a9a;
    display: none;
}
.slider-content-ul.active {
    display: block;
}
.slider-content-ul  li {
 padding: 5px 10px 5px 10px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 color: #148919;
}
.slider-content-ul  li:hover {
    background-color: rgb(0 248 51 / 13%);
    cursor: pointer;
}
.slider-content > div:first-child {
    width: 100%;
    position: relative;
}


/* /                        */

.sidebar {
    color: white;
    /* padding-bottom: 9px; */
    border: 1px solid #ccc;
    border-bottom: none;
}

.contai-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 53px;
}
.sidebar-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 12px 5px;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
}
.sidebar-title i {
    margin: 0 6px;
    font-style: 16px;
}
.sidebar h3 {
 font-size: 18px;
 margin: 0;
}
.sidebar ul {
    margin: 0;
    border-bottom: 1px solid rgba(218, 218, 218, 0.18);
}

.sidebar-items i {
    font-size: 5px;
    margin-right: 10px;
}
.sidebar-items {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 5px 0  5px 10px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;

}
.sidebar-items a {
    color: #000;
}
.sidebar-items-text {
    font-size: 12px;
    padding: 4px 0 4px 14px;
    cursor: pointer;
}
/* .sidebar-items:hover {
    background: #b6c8bd;
} */
.sidebar-items:hover a{
    color: #028711;
}
.img-style {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.products {
    margin-top: 45px;
}
.products-top-title {
    color: var(--text-title);
    text-align: center;
    margin-bottom: 40px;
   
}
.products-top-title p {
    font-family: 'Taviraj';
    font-weight: 700;
    font-size: 20px;
}
.card {
    height: 100%;
    border: none;
    box-shadow: 1px 1px 10px 1px #ccc;
    cursor: pointer;
    /* overflow: hidden; */
    position: relative;
}
.sale-off {
    height: 40px;
    width: 40px;
    font-size: 13px;
    color: white;
    background: #028711;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 1;
}
.card-title {
    font-size: 16px;
    line-height: 22px;
    /* height: 44px; */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #000;
    font-weight: bold;
}

.card-body {
    text-align: center;
    padding: 15px 0 15px 0;
}
.price {
    color: #49b14d;
    font-weight: 600;
}
.card:hover {
    /* border-bottom: 2px solid #087420; */
    transform: translateY(-10px);
    transition: all .3s;
    /* box-shadow: 0px 20px 20px 3px #ccc; */
    box-shadow: 0 0px 20px rgb(203 255 139)
}

/*                                     btn tab                       */
content {
    margin-top: 35px;
    display: list-item;

}
.product-item-tabs {
    display: flex;
    margin-top: 30px;
    justify-content: end;
}
.btn-product-top2,
.btn-product-top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5B5B5B;
    height: 45px;
    width: 45px;
    background: var(--white-color);
    border: 1px solid #DADADA;
    margin-left: 7px;
    border-radius: 8px;
}
.btn-product-top2:hover,
.btn-product-top:hover {
    border: 1px solid #087420;
}
.btn-product-top.active {
    background: var(--bg-btn);
    color: white;
}
.pots-products-title,
.all-products-title {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 40px;
}

.pots-products-title p,
.all-products-title p {
    padding-bottom: 15px;
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #0B8E18;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--text-title);
}
.filter-price {
    margin-top: 15px;
    border: 1px solid #DADADA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 15px 10px;
    gap: 10px
}
.filter-price > span {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;

}
.filter-price label {
    padding-left: 6px;
}
.information-support {
    margin-top: 20px;
}
.information-support > div{
    display: flex;
    align-items: center;
    padding: 16px 5px  16px 12px;
    border: 1px solid #DADADA;
}
    
.information-support > div + div {
    border-top: unset;
}
.information-support  div img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.information-support p {
    font-weight: 700;
    font-size: 14px;
    color: #087420;
}
.information-support span {
    margin-top: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #5C4F4F;
}
/*                                   comments                     */

#comments {
    margin-top: 63px;
    margin-bottom: 57px;
}
.comments-title {
    position: relative;
}
.comments-title span{
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;
    color: #181B45;
    padding: 10px 17px;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
}
.comments-title-text {
    margin: 39px 0 33px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comments-title-text p {
    width: 661px;
    text-align: center;
} 
.comments-title-text span {
    color: var(--text-title);
    font-size: 13px;
    font-weight: 600;
}

.img-user-comment {
    width: 100px;
    margin-right: 16px;
}
.img-user-comment img {
    width: 100%;
    border-radius: 50%;
}
.comment-content {
    width: calc(100% - 100px - 16px);
}
.name-user {
    font-size: 18px;
    margin-bottom: 7px;

}
.comment-content span {
    margin-top: 7px;
    display: flex;
    color: #FFA800;
}
.assessor {
    display: flex;
    height: 100%;
}

.map-text {
    width: 50%;
    height: 315px;
    background: #71BF44;
    color: white;
    padding: 65px 145px 0 0;
    position: relative;
    top: 0;
    right: 0;
}
.map-text strong {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.map-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 11px 0;
}
.map-text  span{
    padding-top: 9px;
    border-top: 1px solid #ccc;
    display: inline-flex;
}


.map-text::after {
    content: "";
    width: 225px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    border-top: 315px solid transparent;
    border-right: 225px solid #71bf44;
}

footer {
    padding: 65px;
    background-image: url(img/footer.png);
    color: white;
    margin-top: 40px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.footer-logo-img {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.footer-text {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.footer-text span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #08B34C;
    letter-spacing: 0.08em;
}
.footer-outstanding a {
    color: white
}
.information p:first-child span,
.footer-outstanding span {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
}
.footer-outstanding li {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08em;
    margin-bottom: 17px;
}
.footer-outstanding li:last-child{
    margin-bottom: 0;
}
.social-network {
    margin: 39px 0;
    display: flex;
    align-items: center;
}
.social-icon {
    display: flex;
    font-size:25px ;
    justify-content: center;
}

.information span:first-child {
    font-size: 17px;
}
.information-content {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.information-content span {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #028711;
    margin-right: 14px;
}
.information-content a{
    color: white;
    text-decoration: revert;
}

.license {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/*                                    modal                             */

.modal-cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999;
    
 }

.modal-cantainer {
    background: #FFFFFF;
    width: 1000px;
    max-width: calc(100% - 32px);
    max-height: 100%;
    padding: 10px 25px 0;
    position: relative;
    animation: modalFakeIn  ease .5s;
    overflow-y:auto;

    /* display: none; */
}
.modal-login {
    background: #FFFFFF;
    width: 600px;
    max-width: calc(100% - 32px);
    max-height: 100%;
    padding: 30px;
    animation: modalFakeIn  ease .5s;
    overflow-y:auto;
    display: none;
    /* display: block; */
}
.modal-information-user {
    background: #FFFFFF;
    width: 600px;
    max-width: calc(100% - 32px);
    max-height: 100%;
    padding: 19px 30px 30px;
    animation: modalFakeIn  ease .5s;
    overflow-y:auto;
    display: none;
}
@keyframes modalFakeIn {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.modal-tite {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}
.modal-user-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #028711;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
}
.modal-tite span {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #028711;
}
.icon-delete-modal {
    font-size: 24px;
    cursor: pointer;
}
.footer-modal button {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    border: none;
    margin-bottom: 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.into-moneys {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0 30px 0;
}
.into-money,
.into-moneys p:first-child{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}

.save p{
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top: 10px;
} 
.save-moneys {
    color: #777777;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;

}
.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow : none;
}
.form-group.invalid > input {
    border: 1.5px solid #ff0d0d8c;
}
.form-group.invalid > .form-message {
    color: #ff0d0d8c;
}
span.form-message {
    display: flex;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
}
/* product-cart */
.item-product-cart {
    width: 100%;
    padding: 26px 0;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
}
.item-product-left {
    display: flex;
    width: 45%;
    align-items: center;
}
.item-product-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-product-left img {
    width: 144px;
    height: 144px;
    /* height: auto; */
    object-fit: cover;
}
.item-product-text {
    margin-left: 31px;
}
.item-product-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    max-height: 46px;
    overflow: hidden;
    display: block;
    color: #000000;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
}
.item-product-text span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
}

.item-save-moneys {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: line-through;
    color: #777777;
    display: block;
    text-align: center;
}
.item-into-money2,
.item-into-money {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #333333;

}
.item-into-money2 {
    margin: 0 30px;
}


.more,
.more2,
.reduction,
.reduction2 {
    width: 30px;
    border: 1px solid #ccc;    
    font-size: 18px;
    font-weight: 500;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    color: white;
}
.quantity,
.quantity2 {
    min-width: 40px;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #DADADA;
    text-align: center;
}
.amount-text {
    font-size: 20px;
    color: #000;
    margin-right: 18px;
}
.icon-trash-cart i {
    color: #D93F3F;
    cursor: pointer;
    font-size: 20px;
}


/* login */
.modal-login-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.modal-user {
    display: flex;
}
.btn-register,
.btn-login {
    width: 116px;
    height: 40px;
    color: #028711;
    border-bottom: 1px solid #087420;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.btn-login {
    color: #000;
    border-bottom: unset;
    margin-right: 34px;

}
.btn-register:hover {
    border-bottom: 1px solid #028711;
    color: #028711;
}
.btn-register:hover .btn-login  {
    color: #000;
    border-bottom: unset;
}
#login{
    width: 116px;
    height: 44px;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    border: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    /* overflow: hidden;
    position: relative; */
}
#login:hover {
    opacity: 0.8;
}
.footer-login label{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
}
.modal-information-user select{
    width: 100%;
    height: 40px;
    border: 1px solid #dadada;
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
    font-weight: 500;
    padding-left: 10px;
}
select:focus-visible {
    outline: none;
    
}
textarea {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #dadada;
    outline: none;
    height: 69px;
    display: flex;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #777777;
}

option {
    font-size: 16px;
    line-height: 19px;
    color: #777777;
}
.forgot-password {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(26, 151, 240, 0.78);
    display: flex;
    justify-content: end;
    margin-top: 10px;
    cursor: pointer;
}
form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.footer-login ,
.footer-information{
    margin-top: 20px;
}
.form-2 > input {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    height: 40px;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
    padding-left: 12px;
}
#phone input:focus,
#name input:focus,
.form-2  input:focus {
    border-bottom: 2px solid #08B34C;
}
#phone,
#name {
    width: 48%;
    /* min-height: 40px; */
}
#phone input,
#name input {
    height: 40px;
    border: 1px solid #dadada;
    width: 100%;
    font-weight: 500;
    border-radius: 3px;
    font-size: 16px;
    line-height: 19px;
    color: #777777 ;
    padding-left: 12px;
    outline: none;
}
.address-type > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 7px;
}
.address-type-group {
    display: flex;
}
.address-type-group label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-left: 6px;
}
.address-type {
    margin: 30px 0;
}
.login-user2 {
    position: relative;
}
.login-user2.active:hover .account {
    display: block;
}
.account {
    display: none;
    position: absolute;
    background: white;
    left: 0;
    right: 0;
    top: 94%;
    z-index: 999999999999999999;
    width: 170px;
}
.account::after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 50%;
    border-width: 8px 15px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.account-text {
    padding: 5px 10px;
    color: #212529d9;
    font-size: 16px;
    font-weight: 400;
    display: flex;
}
.account-text:hover {
    background: #e4e7eb69;
    color: #028711;
}
.user-use {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
    text-overflow:ellipsis;
}
.header-img-user.active {
    border-radius: 50%;
    background-color: rgba(250, 237, 237, 0.863);
}
.btn {
    height: 36px;
    width: 126px;
}
.btn:hover {
    border: 1px solid#028711;
    outline: none;
    color: white;
}
.btn:focus {
    color: white;
}
.come-back {
    position: relative;
    overflow: hidden;
}
.come-back:hover {
    color: #028711;
}
.next {
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    color: white;
    margin-left: 20px;
    position: relative;
}
.come-back::before {
    content: "\f177";
    position: absolute;
    font-family: FontAwesome;
    top: 6px;
    left: 6px;
    transform: translateX(-50px);
    transition: all .3s;
}
.next::after {
    content: "\f178";
    position: absolute;
    font-family: FontAwesome;
    top: 6px;
    right: 6px;
    transform: translateX( 30px);
    transition: all .3s;
}
.next:hover:after  {
    transform: translateX(0);
}
.come-back:hover::before {
    transform: translateX(0);
}

.navbar-nav-title li:hover{
    background-color: rgba(0, 0, 0, 0.4);
}


/*                             products               */

.product-tabs {
    height: 47px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    align-items: center;
}
.product-tabs a {
    color: #000;
    font-size: 18px;
}
.product-tabs a:last-child{
    color: #08B24C;
}
.product-tabs a:hover {
    color: #08B24C;
    transition: color .2s linear;
}
.product-tabs i {
    margin: 0 10px;
}
.product-filter > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #08B34C;
    display: flex;
    margin: 20px 0;
    font-family: 'Taviraj';
}
.product-sort {
    height: 64px;
    width: 100%;
    background: rgb(218 218 218 / 31%);
   display: flex;
   align-items: center;
   justify-content: end;

}
.product-sort div {
    display: flex;
    margin-right: 32px;
    align-items: center;
}
.product-sort span {
    font-size: 18px;
    line-height: 21px;
    color: #161414;
    margin-right: 7px;
    
}
.product-sort div > ul {
    position: relative;
    width: 170px;
    background: white;
    height: 39px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    border: 1px solid #DADADA;
}
.product-sort div > ul:hover .list-menu{
    display: block;
}
.product-sort div > ul::after {
    content: "\f107";
    position: absolute;
    font-family: FontAwesome;
    top: 5px;
    right: 10px;
    font-size: 20px;
}
.list-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    display: none;
    z-index: 9999;
}
.list-menu li {
    padding: 5px 5px 5px 15px;
    border: 1px solid #DADADA;
    background: white;
}
.list-menu li i {
    margin: 0 6px;
}
.list-menu li:hover {
    color: #028711;
}
.list-menu li + li {
    border-top: unset;
}
.filter-price label:hover {
    color: #08B24C;
}

/*                                   product-detai                                 */
.products-products-title {
    height: 100%;
}
.products-products-title > div:first-child{
    padding-bottom: 10px;
    border-bottom: 1px solid #DADADA;
}
.products-products-title > div + div {
    margin-top: 25px;
}
.img-product-detai > img{
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    height: 550px;
}
.sub-photo > img{
    width: 100%;
    object-fit: cover;
}
.img-product-detai div img {
    width: 22%;
    opacity: 0.4;
    cursor: pointer;
}
.img-product-detai .opacity {
    opacity: 1;
}
.title-pdoduct-detai {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    max-height: 56px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-code {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #777777;
}
.products-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #087420;
}
.old-price {
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #777777;
}
.classification-pots p{
    font-size: 20px;
    color: #000;
}
.classification-pots > span:hover {
    border: 1px solid #087420;
}
.classification-pots > span.active {
    background: #34622775;
    color: white;
    border: unset;
}
.classification-pots > span + span {
    margin-top: 10px;
}
.classification-pots > span {
    text-align: center;
    padding: 8px 10px;
    display: block;
    border: 1px solid #DADADA;
    border-radius: 4px;
    cursor: pointer;
}
.btn-order,
.btn-hotline {
    height: 48px;
    padding: 0 20px;
    border: none;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    border-radius: 40px;
    color: white;
    font-weight: 500;
    font-size: 18px;

}
.btn-hotline {
    background: #F2F2F2;
    border: 1px solid #DADADA;
    color: #000;
    margin-left: 8px;
}
.social-network-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #777777;
}


/*  detai text content */

.detai-content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}
.products-detai-content {
    position: relative;
    height: 300px;
    overflow: hidden;
}
.products-detai-content > p {
    font-size: 16px;
    color: #303030;
    line-height: 1.6;
    margin-bottom: 16px;
}
.text-detai-outstanding {
    color: #30cc00;
    font-weight: 500;
}
.text-detai-black {
    font-weight: 500;
}
figcaption {
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.05);
    font-style: italic;
    padding: 4px;
}
.see-more {
    position: absolute;
    background-color: white;
    width: 100%;
    color: #08B24C;
    cursor: pointer;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.see-more::after {
    content: "";
    /* background: red; */
    width: 100%;
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    height: 55px;
    content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)));
}

.products-detai-content.active {
    height: auto;
    overflow: unset;
}

.icon-up {
    margin-left: 3px;
    margin-top: 4px;

}
.see-more.active::after {
    display: none;
}

/*                     payment                */

.payment-title {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border-left: 2px solid white;
    padding: 0 10px;
    margin-left: 10px;
}
.delivery-address {
    background: white;
    padding: 18px 0px 18px 30px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
    position: relative;
}
.information-content2 {
    color: #028711;
    font-size: 20px;
    margin: 0;
}
.user-name {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
}
.payment-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0 40px 0 25px ;
}
.change-address {
    font-weight: 500;
    color: #005ABB;
    cursor: pointer;
}
.delivery-address > div {
    display: flex;
    margin-top: 16px;
}
.icon-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    justify-content: center;
    align-items: center;
    color: #dee2e6;
    display: none;
}
.payments-method-products,
.payment-products-container {
    padding: 29px 30px 0px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}
.payments-method-products {
    padding: 0;
}
.payments-method > div:first-child {
    border-bottom: 1px dashed  #DADADA;
}
.payment-products {
    padding: 20px 0;
}
.payment-products + .payment-products {
    border-top: 1px solid #DADADA;
}

.payment-products-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: rgba(54, 60, 68, 0.4);
    display: flex;
    justify-content: center;

}
.category-products {
    font-size: 20px;
    justify-content: start;
    color: #000;
    margin-bottom: 10px;
}
.into-money-title {
    display: flex;
    justify-content: end;
}

.payment-products-left {
    display: flex;
    align-items: center;
}
.payment-products-left > img {
    margin-right: 22px;
    width: 100px;
}
.payment-products-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 400px;
}
.payment-products-left span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    margin-top: 6px;
}
.payment-products-right {
    display: flex;
}

.payment-products-quantity,
.payment-products-price {
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    display: flex;
    justify-content: center;
}

.payment-products-money {
    font-weight: 500;
}
.payment-producst-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed #D9D9D9;
    border-bottom: 1px dashed #D9D9D9;
}
.payment-delivery {
    padding:  20px;
    border-right: 1px dashed #D9D9D9;

}
.payment-delivery div{
    display: flex;
    align-items: center;
    background: #F5F5FF;
    padding: 5px 20px;

}
.payment-delivery p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-right: 50px;
}
.payment-delivery p > i {
    margin-right: 6px;
}
.payment-delivery-price {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
.enter-discount-code {
    display: flex;
    padding: 20px;
}
.enter-discount-code input{
    border: 1px solid #DADADA;
    border-radius: 5px;
    height: 36px;
    margin-right: 20px;
    width: 250px;
    outline: none;
    /* color: #08B24C; */
    padding-left: 10px;
}
.enter-discount-code input:focus{
    border-bottom: 1px solid #087420;
}
.enter-discount-code button {
    background: linear-gradient(87.56deg, #61C73F -10.87%, #1F8538 117.25%);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 0 5px;
}
.enter-discount-code button:hover {
    opacity: 0.8;
}
.the-total-amount {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 25px 0;
}
.all-price-products,
.total-price-payment{
    font-size: 20px;
    color: #000000;
    font-weight: 600;
}
.the-total-amount > p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    margin-right: 10px;
}
.method-products-title {
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #000;
    font-weight: 500;
    padding: 20px 30px;
    border-bottom: 1px solid #DADADA;
}
.payments-method {
    padding: 0 30px 0;
    /* margin-top: 10px; */
}
.payments-method label {
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.method-bank {
    padding-left: 10px;
    display: none;
}
.method-bank.active {
    display: block;
}
.method-bank p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 8px;
}
.method-bank p:first-child {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
.method-bank span {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.check-padding {
    padding:  15px 0;
    height: 54px;
}
.payment-footer {
    padding: 20px 30px;
    border-top: 1px solid #DADADA;
    border-bottom: 1px dashed  #DADADA;
    display: flex;
    justify-content: end;
}
.pay-font {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-size: 20px;
}
.payment-footer-text {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: 500;
    width: 50%;
}
.payment-footer-text  > div{
    display: flex;
    justify-content: space-between;
}
.payment-footer-text  > div + div {
    margin-top: 8px;
} 
.pay-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.pay-order {
    color: #777777;
}
.btn-pay-order {
    background: linear-gradient(87.56deg, #61C73F -10.87%, #1F8538 117.25%);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}
.btn-pay-order:hover {
    opacity: 0.8;
}
.payment-products-quantity > span{
    margin-left: 5px;
}
.header-payments {
    display: flex;
    align-items: center;
    height: 100px;
}
.js-search {
    display: none;
}
.js-search > p {
    font-size: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #15df3f4f;
    color: #0d9128;
    font-weight: 500;
}

.btn-hotline:hover {
    background: #b1a8a8;
    color: white;
}
.btn-order:hover {
    opacity: 0.8;
}
/* /                          toast                      */


#notification {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99;
}

.toasts {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 5px 4px 10px 4px #21252926;
   transition: all linear 0.3s;
    
}

@keyframes sideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
.toasts + .toasts {
 margin-top: 24px;
}

.toast__icon {
 padding: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__close {
    padding: 20px;
    color: #888;
    cursor: pointer;
}

.toast--success {
    border-color:#47d864 ;
}

.toast--success > .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color:#2f86eb ;
}
.toast--info > .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color:#ffc021 ;
}
.toast--warning > .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color:#ff623d ;
}
.toast--error > .toast__icon {
    color: #ff623d;
}

.img-style {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
    

.img-style > img {
    min-width: 33%;

}
@keyframes showimg {
   
    30% {
        margin-left: 0%;
    }
    40% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    70% {
        margin-left: -100%;
    }
    80% {
        margin-left: -200%;
    }
    90% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}
.save{
    text-align: end;
}
.img-cart-no-product {
    display: none;
    align-items: center;
    justify-content: center;
}

.content-no-product{
    text-align: center;
    margin: 20px 0;
}
.content-no-product img {
    width: 60%;
    margin-bottom: 20px;
}
  
.content-no-product p{
    color: black;
    font-size: 1.2em;
    transform: translateX(-2%);
}
.btn-shopping {
    margin-top: 20px;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    width: 50%;
    padding:8px;
    border: none;
    border-radius: 5px;
    color: white;
    color: 16px;
}
.btn-shopping a {
    color: white;
}
.navbar-toggler-icon {
    width: 1.9em;
    height: 1.9em
}
.navbar-toggler-icon{
    background-image: none;
}
.navbar-toggler-icon > i {
    font-size: 30px;
    color: white;
}

.introduce-left {
    
}
.introduce-left-first {
    padding-bottom: 30px;
    border-bottom: 1px dashed #cccccc;
}
.introduce-title {
    margin-bottom: 12px;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent), url(https://greenthumb.themerex.net/wp-content/themes/greenthumb/images/text-pattern.jpg) center 0 no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background: -o-linear-gradient(transparent, transparent);
    font-size: 24px;
    font-weight: 500;
    /* font-family: cursive; */
}
.introduce-left-last {
}
.introduce-left-last > p{
    color: #5C5B5B;
    font-size: 16px;
    padding: 35px 0;
}
.introduce-title + p {
    display: block;
    color: #27282c;
    font-size: 24px;
    line-height: 44px;
    font-weight: 500;
}
.introduce-call {
    display: inline-block;
 padding-left: 20px;
 border-left: 1px solid #ededed;
 margin-left: 30%;
}
.introduce-call > p{
    font-size: 20px;
    color: #27282c;
}
.introduce-call > span {
    font-size: 16px;
    color: #5C5B5B;
    cursor: pointer;
}
.introduce-right {
    position: relative;
    max-width: 520px;
    margin: auto;
}
.introduce-right > img{
    max-width: 100%;
}
.introduce-right-text {
    position: absolute;
    left: 40px;
    bottom: 30px;
    right: 40px;
    background: #ffffff;
}
.introduce-right-text::before {
    font-family: FontAwesome;
    position: absolute;
    top: -38px;
    left: 30px;
    content: "\f0d8";
    color: #fff;
    font-size: 50px;
}
.introduce-right-text  {
    position: absolute;
    left: 40px;
    bottom: 30px;
    right: 40px;
    background: #ffffff;
}
.introduce-right-text h1 {
    color: #555555;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    display: block;
    float: left;
    padding: 15px 0 10px;
    padding-left: 10px;
    margin-bottom: 0;
}
.introduce-right-text h1 span {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.introduce-right-icon {
    background: var(--bg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    right: 0;
    position: absolute;

}
.introduce-left-btn:hover,
.introduce-right-icon:hover {
    opacity: 0.8;
}
.introduce-right-icon::before {
    content: "\f054";
    position: relative;
    display: block;
    width: 30px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: FontAwesome;
}
.introduce-left-btn {
    margin-top: 50px;
    padding: 15px 30px;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.frames-slogan-btn button:nth-child(2) > i,
.introduce-left-btn > i {
    margin-left: 20px;
    font-size: 20px;
}

.frames-slogan {
    background-image: url(https://caycanhnoithat.vn/2021/bg1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 102px 0 110px;
    z-index: 1;
    position: relative;
    margin-top: 65px;
     
}
.frames-slogan h1 {
    color: #ffffff;
    font-size: 30px;
    line-height: 44px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
    margin-bottom: 80px;
    font-family: 'Muli', sans-serif;
}
.frames-slogan-btn {
   display: flex; 
    justify-content: center;
}
.frames-slogan-btn button{
    color: #27282c;
    background: #ffffff;
    margin: 0 13px;
    padding: 0 40px 0;
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    line-height: 60px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    padding: 0 30px 0;
    transition: all 500ms ease;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 4px;
}
.frames-slogan-btn button:nth-child(1) {
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
}
.frames-slogan-btn button:nth-child(1):hover {
    opacity: 0.8;
}
.frames-slogan-btn button:nth-child(2) {
    color: #000;
    background: white;
}
.frames-slogan-btn button:nth-child(2):hover {
    background-color: #000;
    color: white;
}
.icon-holder {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    width: 120px;
    height: 120px;
    background-image: linear-gradient(180deg, #61C73F, #1F8538);
    /* background: #016133; */
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    animation: fa-spin 9s ease infinite;
}
/* .icon-holder::before {
   
    font-family: FontAwesome;
    content: "\f7d9";
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 50px;
    line-height: 120px;
} */
.icon-holder img {
    width: 80%;
}
.icon-holder span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.space-review-title,
.service-home-title {
    display: block;
    color: #27282c;
    font-size: 28px;
    line-height: 44px;
    font-weight: 500;
    text-align: center;
    margin: 60px 0 50px 0;
}
.service-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.service-item-top {
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.service-img,
.service-item-top  img {
    width: 100%;
    height: 100%;
    position: relative;
}
.service-item-bottom {
    display: block;
    border: 1px solid #ededed;
    padding: 35px 30px 60px;
    position: relative;
    flex-grow: 1;
}
.service-bottom-icon {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.service-bottom-icon > img {
    height: 50px;
}
.service-bottom-icon h1{
    margin: 0;
    font-size: 48px;
    line-height: 40px;
    font-weight: 500;
    background: linear-gradient(45deg, rgba(65,94,82,1) 0%, rgba(255,0,0,1) 1%, rgba(77,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Muli', sans-serif;
}
.service-bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}
.service-bottom-text p {
    color: #27282c;
    font-weight: 500;
    font-size: 20px;

}
.service-bottom-text i {
    color: #b3b3b3;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}
.service-bottom-hover {
    transform: translateY(0%);
    transition: all 700ms ease 500ms;
}
.service-bottom-hover2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: block;
    padding: 28px 30px 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 700ms ease
}
.service-bottom-hover2 p{
    font-size: 17px;
    color: #5C5B5B;
}
.service-bottom-hover2 span {
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: #016133;
    display: block;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 24px;
    line-height: 60px;
}
.service-bottom-hover2 span:hover {
    opacity: 0.8;
    cursor: pointer;
}
.service-item:hover .service-bottom-hover2 {
    opacity: 1;
    transform: translateY(0);
}
.service-item:hover .service-bottom-hover {
    opacity: 0;
    transform: translateY(-40%);
    transition: all 700ms ease ;
}
.service-overlay::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.80);
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: top;
}
.service-overlay::after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
    display: block;
    background-color: rgba(0, 0, 0, 0.80);
    transform-origin: bottom;
    transform: perspective(400px) rotateX(90deg);
}
.service-item:hover .service-overlay::after {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
    transition: all 700ms ease ;
}
.service-item:hover .service-overlay::before {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
    transition: all 700ms ease ;
}
.service-overlay-text {
    z-index: 3;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex ;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    transform: translateY(30px);
    transition: all 300ms ease ;
      
}
.service-item:hover .service-overlay-text {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease 0.6s;

}
.space-review-item:hover .space-review-img::after{
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    transition: all 300ms ease 100ms;
}
.space-review-item:hover .space-review-hover {
    opacity: 1;
   transform: perspective(1200px) rotateX(0deg) translateZ(0px);
}
.space-review-item:hover .space-review-img img {
    transform: scale(1.2);
    transition: all 1s ease;
}
.space-review-item {
    position: relative;
    overflow: hidden;
}
.space-review-item:hover .space-review-hover + div::before ,
.space-review-item:hover .space-review-img::before {
    transform: scale(1,1);
}
.space-review-img::after {
    position: absolute;
    top: -37px;
    left: -37px;
    bottom: -37px;
    right: -37px;
    content: '';
    border: 37px solid #ffffff;
    opacity: 1;
    transition: all 300ms ease 100ms;
    z-index: 1;
}
.space-review-hover + div::before,
.space-review-img::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    transition: all 900ms ease 300ms;
    z-index: 1;
    transform: scale(1, 0);
    
}

.space-review-img::before  {
    border-left: 3px solid #27282c;
    border-right: 3px solid #27282c;
}
.space-review-hover + div::before{
    transition: all 900ms ease 300ms;
    transform-origin: bottom center;
    border-top: 3px solid #27282c;
    border-bottom: 3px solid #27282c;
    transform: scale(0, 1);
}
.space-review-img img {
    transition: all 1s ease;
    object-fit: cover;
    width: 100%;
    height: 250px
    
}
.space-review-hover {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 3px;
    height: 117px;
    background: #ffffff;
    z-index: 11;
    text-align: center;
    opacity: 0;
    transition: all 700ms ease 300ms;
    transform: perspective(1200px) rotateX(90deg) translateZ(-32px);
}
.space-review-hover p{
    padding-top: 33px;
    color: #27282c;
    font-size: 20px;
    font-weight: 500;
}
.space-review-btn {
    display: flex;
    justify-content: end;
}
.space-review-btn > button {
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 15px 25px;
    transition: all 500ms ease;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 30px;
}
.space-review-btn > button:hover {
    opacity: 0.7;
}
.space-review-btn > button i {
    margin-left: 15px;
    font-size: 20px;
}
.img-trademark {
    width: 100%;
    height: auto;
}
.img-trademark > img {
    width: 100%;
    text-align: center;
    transition: all 900ms ease 200ms;
    transform: perspective(1200px) rotateY(0deg) translateZ(0px);
    max-width: 100%;
    height: 131px;
}
.mySwiper2 .swiper-slide {
    position: relative;
}
.mySwiper2 .swiper-button-next:after, 
.mySwiper2 .swiper-button-prev:after {
    color: rgb(38 97 19);
}
.swiper-trademark-text {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: -35px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    padding: 3px 0px 2px;
    text-align: center;
    transition: all .6s ease 200ms;
    z-index: 999;  
    background: #71BF44;
}
.swiper-trademark-text p {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.slide-hover-trademark:hover .img-trademark > img{
    transform: perspective(1200px) rotateY(360deg) translateZ(0px);
}
.slide-hover-trademark:hover .swiper-trademark-text {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}
.swiper-trademark-text::before {
    font-family: FontAwesome;
    content: "\f0de";
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
    text-align: center;
    color: #71BF44;
    font-size: 30px;
}
.social-icon span {
    height: 45px;
    width: 45px;
    line-height: 45px;
    background-color: white;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social-icon2 {
    display: flex;
    font-size: 25px;
}
.social-icon2 a {
    margin-right: 10px;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon2 a:nth-child(1) {
    background: #3a589d;
}
.social-icon2 a:nth-child(2) i {
    background: white;
    color: red;
    width: 35px;
    justify-content: center;
    align-items: center;
    height: 35px;
    display: flex;
    border-radius: 50%;
}
.social-icon2 a:nth-child(3) {
    background: #182F45;
}
.social-icon2 a:nth-child(4) {
    background-color: #4a9ad9;
}
.Contacts {
    padding-left: 40px;
}
.form-contact > p,
.Contacts-title ,
.social-icon span > i {
    background: url(https://greenthumb.themerex.net/wp-content/themes/greenthumb/images/text-pattern.jpg) center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 400;
}
.social-icon-icon + .social-icon-icon {
    margin-left: 15px;
}
.footer-Information2 {
    display: block;
    text-align: center;
}
.footer-Information2 p {
    font-size: 24px;
    color: white;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
}
.footer-Information2 span {
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: 'Muli', sans-serif;

}
.Contacts-title {
    font-weight: 500;
    display: flex;
}
.form-contact > span,
.Contacts-title + p {
    display: block;
    color: #27282c;
    font-size: 24px;
    line-height: 44px;
    font-weight: 500;
    margin: 15px 0 30px 0;
}
.Contacts-information {
    display: flex;
    align-items: center;
}
.Contacts-information > i {
    font-size: 35px;
    margin-right: 18px;
    background: url(https://greenthumb.themerex.net/wp-content/themes/greenthumb/images/text-pattern.jpg) center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Contacts-information-text p{
    font-size: 16px;
    font-weight: 400;
    color: #939596d9;
}
.Contacts-information-text a,
.Contacts-information-text b {
    color: #222222;
    font-weight: 400;
}
.Contacts-information-text a:hover {
    background: url(https://greenthumb.themerex.net/wp-content/themes/greenthumb/images/text-pattern.jpg) center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.trademark-title {
    margin-bottom: 20px;
}
.trademark-title p {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    background: url(https://greenthumb.themerex.net/wp-content/themes/greenthumb/images/text-pattern.jpg) center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.trademark-title h3 {
    color: #27282c;
    font-size: 24px;
    font-weight: 400;
}
.trademark-title span{
    font-weight: 500;
    color: #222222;
    
}
.slider-product,
.slider-contact {
    background-image: url(./img/slider-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    display: block;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-product p ,
.slider-contact p {
    font-family: "Shabrina",sans-serif;
    font-weight: 500;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    padding:0  130px;
    background-image:linear-gradient( to right,
    hsl(0deg 100% 99%) 0 ,
    #212529 10% ,
    hsl(0deg 100% 98%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInleft 1s ease forwards, shine 3s  linear 1s forwards;
}
/* .slider-product p {
    background-image:linear-gradient( to right,
    hsl(0deg 100% 99%) 0 ,
    #212529 10% ,
    hsl(0deg 100% 98%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s  linear;
} */
@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}

.contact-img-form {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.contact-input div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contact-input {
    padding-right: 15px;
    
}
.contact-input input {
    padding: 12px 0;
    width: 48%;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    color: #000;
    font-size: 22px;
    font-weight: 300;
}
.contact-input > textarea {
    border: none;
    padding: 12px 0;
    color: #000;
    font-size: 22px;
    border-bottom: 2px solid #ddd;
    font-weight: 300;
    outline: none;
    margin-top: 0px;
}
.btn-scroll-top {
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    color: white;
    border-radius: 50%;
    z-index: 9999;
    border: none;
    outline: none;
}
.btn-scroll-top:hover {
    opacity: 0.8;
}
.slider-product {
    background-image: url(./img/slider-1.jpg);
}
.card-img {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.card-img::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    transform: skewX(-25deg);
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);

}
.form-contact > p {
    font-weight: 500;
}
.card-img > img {
    width: 100%;
    height: 342px;
    object-fit: cover;
} 
.card-img:hover::after {
    animation: shinea .75s;
}
@keyframes shinea {
    100%{left:125%}
}
.slider-filter {
    height: 5px;
    border-radius: 5px;
    background: white;
    position: relative;
    width: 100%;
}
.slider-filter .proress {
    height: 5px;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #5ac03f;
}
.range-input {
    position: relative;
    /* display: flex; */
    width: 100%;
}
.range-input input {
    /* display: block; */
    position: absolute;
    top: -15px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #44c753;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: red;
}
.filter-price-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

}
.filter-price-text > span {
    background-image: linear-gradient(90deg, #61C73F, #1F8538);
    width: 60px;
    height: 30px;
    border-radius: 30px;
    padding: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.filter-price2 {
    display: flex;
    justify-content: space-between;
}
.filter-price2 > p {
    align-items: center;
    display: flex;
    font-size: 15px;
}
.filter-price2 span {
    font-size: 15px;
    font-weight: 500;
}
.filter-price2 > p > i {
    font-size: 18px;
    margin-bottom: -4px;
}
.filter-price2-min {
    margin-left: 4px;
}